
# ─────────────────────────────
#     Global Config
# ---------------------------
**/.DS_Store
**/node_modules/
**/yarn.lock

# ─────────────────────────────
#      Config folders ios/
# ----------------------------
**/Pods/
**/build/
**/.xcode.env*

# ─────────────────────────────
#      Config folders android/
# ----------------------------
**/.gradle/
**/build/


# ─────────────────────────────
#      TESTING & COVERAGE
# ─────────────────────────────
coverage/
**/jest-cache/
**/coverage/